[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pytest = "*"
requests-html = "*"
coverage = "*"
requests = "*"
pyquery = "*"
hanziconv = "*"
pytest-asyncio = "*"
jieba = "*"
pyppeteer = "*"

[requires]
python_version = "3.7"
