{% extends 'header.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="list-group">
        {% for feed in feeds %}
            <a href="/detail/{{ feed['news_id'] }}" class="list-group-item list-group-item-action mt-3">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ feed['name'] }}</h5>
                    <small>News id: {{ feed['news_id'] }}</small>
                </div>
                <p>Fetching Progress:</p>
                <div class="progress">
                    <div id="{{ feed['news_id'] }}-progress" class="progress-bar" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
                <p>Uploading Progress:</p>
                <div class="progress">
                    <div id="{{ feed['news_id'] }}-upload-progress" class="progress-bar bg-info" role="progressbar"
                         style="width: 50%" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </a>
        {% endfor %}
    </div>

    <form action="/stop" method="POST">
        <button type="submit" class="btn btn-danger mt-3">Stop</button>
    </form>
    <script>
        function fetchFetchProgress() {
            axios.get('/update_progress').then((response) => {
                let progresses = response.data;
                progresses.forEach((p) => {
                    let id = p.news_id;
                    let value = p.progress;
                    $(`#${id}-progress`).css('width', value + '%').attr('aria-valuenow', value);
                })
            })
        }

        function fetchUploadProgress() {
            axios.get('/update_upload_progress').then((response) => {
                let progresses = response.data;
                progresses.forEach((p) => {
                    let id = p.news_id;
                    let value = p.progress;
                    $(`#${id}-upload-progress`).css('width', value + '%').attr('aria-valuenow', value);
                })
            })
        }

        fetchFetchProgress();
        fetchUploadProgress();


        setInterval(() => {
            fetchFetchProgress()
            fetchUploadProgress();
        }, 4000);
    </script>
{% endblock %}